<template>
  <q-page class="flex flex-center">
    <span class="text-h4">Dashboard</span>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex'
})
</script>
