<template>
  <q-page class="flex flex-center">
  <div class="q-pa-mdr justify-center" style="min-width: 600px">
    <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" style="min-width: 600px; padding:30px 15px;">
      <q-card-section>
        <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
    <p class="text-h4">Login</p>
    <p class="text-caption">Enter the email address and we'll send an email with login instructions </p>
      <q-input
        filled
        v-model="email"
        label="email address *"
      ></q-input>

      <div style="text-align:right">
        <q-btn type="submit" color="primary" style="padding:0px 25px"><span class="material-icons">
login
</span><span style="padding-left:8px">Login</span></q-btn>
      </div>
     
    </q-form>
      </q-card-section>
    </q-card>
    </div>

    

  </div>
  </q-page>
</template>

<script>

import { Notify } from 'quasar'
import { defineComponent, ref } from 'vue'
import auth from '../boot/ilm/auth'

export default defineComponent({
  name: 'PageLogin',
  
  setup () {
    const email = ref(null)
    const emailValid = ref(false)
    const showError = ref(false)
    return {
      email,
      emailValid,
      showError,
      // auth,
      

      onSubmit () {
      // eslint-disable-next-line
      let reg =  /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
      let valid = reg.test(email.value)

      // routerInstance.push({ path: '/home'})
      
    if (valid) {
      auth.register({email:email.value})
        //  Notify.create({
        //   spinner: true,
        //   message: 'Please wait...',
        //   timeout: 2000,
        //   type: 'info',
        // })
        // return Promise.reject({ url: '/home' })
        } else {

        Notify.create({
          message: 'Please enter valid email address!',
          color: 'red'
          })
        }
    },
     onReset () {
      email.value = null
      emailValid.value = true
      showError.value = false
    }
    
    }
  }
})
</script>
<style >
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
