<template>
  <q-page class="flex flex-center">
  <div class="q-pa-mdr justify-center" style="min-width: 600px">
    <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" style="min-width: 600px; padding:30px 15px;">
      <q-card-section>

        <div style="text-align:center">
          <q-spinner 
          color="primary"
          size="8em"
          :thickness="2"
          ></q-spinner>
        </div>
        <!-- <div>
          <p class="text-h4">Something Wrong</p>
    <p class="text-caption">Invalid Access token</p>
     
       
      <div style="text-align:right"  >
        <q-btn  color="primary" class="cursor-pointer"  style="padding:0px 25px" @click="BackHome">
          <span class="material-icons">
arrow_back
</span>
<span style="padding-left:8px">Back To Login</span></q-btn>
      </div>

        </div> -->

      
       
    
   
      </q-card-section>
    </q-card>
    </div>

    

  </div>
  </q-page>
</template>

<script>

import { Notify } from 'quasar'
import { defineComponent, ref } from 'vue'
import auth from '../boot/ilm/auth'
import { routerInstance } from 'boot/router'

export default defineComponent({
  name: 'PageLogin',
  
  setup () {
    const email = ref(null)
    const emailValid = ref(false)
    const showError = ref(false)
    return {
      email,
      emailValid,
      showError,
      // auth,
      BackHome () {
        console.log(routerInstance.currentRoute._value.params.token)
        // routerInstance.push('/')
        },
      checkLogin () {
        let token = routerInstance.currentRoute._value.params.token
        auth.login({access_token: token})
        
      },
      onReset () {
        email.value = null
        emailValid.value = true
        showError.value = false
      }
    
    }
  },
  created () {
    this.checkLogin()
  }
})
</script>
<style >
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
