<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md" style="max-width: 400px">
<q-card class="my-card" style="min-width: 600px; padding:30px 15px;">

   <p class="text-h4">User Profile</p>
      <q-list>
        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="primary" name="badge"></q-icon>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{name}}</q-item-label>
            <q-item-label caption>Name</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="red" name="email"></q-icon>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{email}}</q-item-label>
            <q-item-label caption>email.</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon color="amber" name="event"></q-icon>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{age}}</q-item-label>
            <q-item-label caption>Age</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>

  </div>
  </q-page>
</template>

<script>
import { LocalStorage, Notify } from 'quasar'
import { defineComponent, ref } from 'vue';
import { routerInstance } from 'boot/router'
import { api } from 'boot/axios'

export default defineComponent({
  name: 'PageIndex',
  setup () {

    const name = ref(null)
    const email = ref(null)
    const age = ref(null)

    return {
      name,
      email,
      age,

      getUserInfo () {

         api.get('/user')
        .then((response) => {
          let user = response.data
          // console.log(user.is_profile_updated)
          if(user.is_profile_updated){
            name.value = user.name
            email.value = user.email
            age.value = user.age
          }else{
            Notify.create({
            message: 'Please update profile',
            position: 'bottom',
            timeout: 3000,
            color: 'negative',
            icon: 'warning'
          })
         routerInstance.push('/settings')
          }
         
        }).catch(() => {
          Notify.create({
            message: 'Please update profile',
            position: 'bottom',
            timeout: 3000,
            color: 'negative',
            icon: 'warning'
          })
         routerInstance.push('/settings')
        })

      }

    }
  },
  created () {
    this.getUserInfo()

  }
})
</script>
