<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md" style="max-width: 400px">
<q-card class="my-card" style="min-width: 600px; padding:30px 15px;">
      <q-card-section>
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
    >
     <p class="text-h4">Update Settings</p>
      <q-input
        filled
        v-model="name"
        label="Your name *"
        hint="Name"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      ></q-input>

      <q-input
        filled
        type="number"
        v-model="age"
        label="Your age *"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
      ></q-input>


      <div>
        <div style="text-align:right">
        <q-btn label="Update" type="submit" color="primary"></q-btn>
        </div>
      </div>
    </q-form>
    </q-card-section>
    </q-card>

  </div>
  </q-page>
</template>

<script>
import { LocalStorage, Notify } from 'quasar'
import { defineComponent, ref } from 'vue';
import { routerInstance } from 'boot/router'
import { api } from 'boot/axios'

export default defineComponent({
  name: 'PageIndex',
  setup () {

    const name = ref(null)
    const age = ref(null)

    return {
      name,
      age,

      onSubmit () {

         api.post('/user', {name:name.value, age:age.value})
        .then((response) => {
          let user = response.data.data
          console.log(user)
            name.value = user.name
            age.value = user.age
            Notify.create({
            type: 'positive',
            message: 'User profile updated Successfully!'
          })
          
        }).catch(() => {
          Notify.create({
            message: 'Invalid parameter request',
            position: 'bottom',
            timeout: 3000,
            color: 'negative',
            icon: 'warning'
          })
        })
        
      },
      getUserInfo () {
          api.get('/user')
        .then((response) => {
          let user = response.data
            name.value = user.name
            age.value = user.age
          
        }).catch(() => {
          Notify.create({
            message: 'Something went wrong',
            position: 'bottom',
            timeout: 3000,
            color: 'negative',
            icon: 'warning'
          })
        //  routerInstance.push('/settings')
        })

      }

    }
  },
    created () {
      this.getUserInfo()
    }
})
</script>
