<template>
  <q-page class="flex flex-center">
  <div class="q-pa-mdr justify-center" style="min-width: 600px">
    <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card" style="min-width: 600px; padding:30px 15px;">
      <q-card-section>
      
    <p class="text-h4" >Check your mail</p>
    <p class="text-body2">We have send a login instructions to your email.</p>
      
      <div style="text-align:right"  >
        <q-btn  color="primary" class="cursor-pointer"  style="padding:0px 25px" @click="BackHome">
          <span class="material-icons">
arrow_back
</span>
<span style="padding-left:8px">Back To Login</span></q-btn>
      </div>
     
      </q-card-section>
    </q-card>
    </div>

    

  </div>
  </q-page>
</template>

<script>

import { defineComponent } from 'vue';
import { routerInstance } from 'boot/router'


export default defineComponent({
  name: 'verifyAccout',
  setup () {
    return {

      BackHome () {
      routerInstance.push('/')
    }
    
    }
  }
})
</script>
<style >
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
