<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title>
          iMLogical, Inc.
        </q-toolbar-title>

        <div>Tariq Mahmood (tariqmmahmood@gmail.com)</div>
      </q-toolbar>
    </q-header>
    <q-footer elevated>
        <q-toolbar>
          <q-toolbar-title>SKype: tariqmmahmood</q-toolbar-title>
        </q-toolbar>
      </q-footer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'AuthLayout',

  components: {
    // EssentialLink
  },

  setup () {

    return {
    }
  }
})
</script>
