<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
           iMLogical, Inc.
        </q-toolbar-title>

        <div>Tariq Mahmood (tariqmmahmood@gmail.com)</div>
      </q-toolbar>
    </q-header>

    <q-footer elevated>
        <q-toolbar>
          <q-toolbar-title>SKype: tariqmmahmood</q-toolbar-title>
        </q-toolbar>
      </q-footer>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          {{ email }}
        </q-item-label>

        <hr>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        <hr>

        <q-item
    clickable
    tag="a"
    @click="logout"
   
  >
    <q-item-section
      avatar
    >
      <q-icon name="logout" />
    </q-item-section>

    <q-item-section>
      <q-item-label>Logout</q-item-label>
     
    </q-item-section>
  </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Dashboard',
    caption: 'ILM Dashboard',
    icon: 'dashboard',
    link: '/dashboard'
  },
  {
    title: 'Profile',
    caption: 'Logged in User Profile',
    icon: 'person',
    link: '/profile'
  },
  {
    title: 'Settings',
    caption: 'Update Profile',
    icon: 'settings',
    link: '/settings'
  }
];

import { defineComponent, ref } from 'vue'
import { LocalStorage, Notify } from 'quasar'
import auth from '../boot/ilm/auth'

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)
     const email = ref(null)

    return {
      email,
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      checkAuth(){
        auth.checkAuth()
      },
      logout () {
        auth.logout()
      }
    }
  },
  created () {
    this.checkAuth()
    let user = LocalStorage.getItem('user')
    if(user){
      this.email = user.user.email
    }
    
  }
})
</script>
